.fadein-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: palevioletred;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

section {
    width: 100%;
    height: 100vh;
}

#section1 {
    background-color: crimson;
}

#section2 {
    background-color: white;
}

#section3 {
    background-color: orange;
}


.padding {
    padding: 15vh;
    position: relative;
}

html {
    overflow-x: hidden;
}

html,
body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

.bg{
    
    position: absolute;
    height: 100%;
    width: 100%;
}

.background1 {
    background-color: gray;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -5;
}

.background2 {
    background-color: beige;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -4;
}

.background3 {
    background-color: royalblue;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -3;
}

.test {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}