.fadein-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: palevioletred;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

section {
    width: 100%;
    height: 100vh;
}

#section1 {
    background-color: crimson;
}

#section2 {
    background-color: white;
}

#section3 {
    position: relative;
}

#section4 {
    background-color: blueviolet;
}

.float-panel {
    width: 150px;
    height: 200px;
    background-color: blue;
    position: fixed;
    right: 10px;
    top: 50vh;
}

.padding {
    padding: 15vh;
    position: relative;
}

html {
    overflow-x: hidden;
}

html,
body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

.bg {
    position: absolute;
    top: -10%;
    left: -10%;
    height: 120%;
    width: 120%;
    z-index: -5;
    background-image:  url("./woodenBackDrop.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.lamp {
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 50%;
    top: -0%;
    text-align: center;
}

.lamp img {
    width: 70%;
    height: 110%;

}

.test {
    position: relative;
}

img {
    width: 200px;
    height: 100px;

}

.hover:hover {
    border: 10px solid black;
}

.bg h2 {
    position: absolute;
    left: 15%;
    top: 20%;
    color: black;
    font-size: 6em;
}